body {
  padding-top: 5rem;
  font-family: 'Ubuntu', sans-serif;
  color: #211105;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #211105;
    margin-bottom: 100px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #211105;
}
@media only screen and (max-width: 576px) and (orientation: landscape) {
    .form-inline {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 576px) and (orientation: landscape) {
    .form-inline {
        display: inline;
    }
}
.btn {
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
}

.btn.outline {
	background: none;
	padding: 4px 8px;
}

.btn-primary.outline {
	/*border: 2px solid #80bbe5;
	color: #80bbe5;*/
    border: 2px solid #211105;
    color: #211105;
}

.btn-info {
    font-size: 10pt;
    color: #211105;
    background-color: #eae2d5;
    border-color: #211105;
}

.btn-info:hover {
    background-color: #605a50;
    border-color: #211105;
}

.btn-primary:hover {
    color: #d8ebff;
}

.img-thumbnail.mx-auto.d-block {
    max-width: 300px;
}

#login-logo {
    align-self: center;
}
