body {
  padding-top: 5rem;
  font-family: 'Ubuntu', sans-serif;
  color: #211105;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #211105;
    margin-bottom: 100px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #211105;
    font-size: 13.5pt;
}

.btn {
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
}

.btn.outline {
	background: none;
	padding: 4px 8px;
}

.btn-primary.outline {
	/*border: 2px solid #80bbe5;
	color: #80bbe5;*/
    border: 2px solid #211105;
    color: #211105;
}

.btn-info {
    font-size: 10pt;
    color: #211105;
    background-color: #eae2d5;
    border-color: #211105;
}

.btn-info:hover {
    background-color: #605a50;
    border-color: #211105;
}

.btn-primary:hover {
    color: #d8ebff;
}

.img-thumbnail.mx-auto.d-block {
    max-width: 300px;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
